bin/copy-to-website
bin/copy-logfiles
titles
run[0-9]*
.env
docker-compose.override.yml

index.html

www/

day/all*
day/local*
day/offset*
day/percentiles*
day/remote*
day/measurements*
day/statistics*
day/tracking*
week/all*
week/local*
week/offset*
week/percentiles*
week/remote*
week/measurements*
week/statistics*
week/tracking*
