bin/copy-to-website
bin/copy-logfiles
titles
run[0-9]*
.env
docker-compose.override.yml

home/index.gmi
home/index.html
home/security.txt
daily/*
!daily/index.gmi.tmpl
!daily/index.html.tmpl
weekly/*
!weekly/index.gmi.tmpl
!weekly/index.html.tmpl
gemini/
www/
