/* General */
html {
  font-family: sans-serif;
  font-size: 1.5rem;
  margin-top: 0;
}

body {
  background-color: #383838;
  color: #FFFFFF;
  margin-top: 0;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  letter-spacing: .7px;
}

h1,
h2 {
  color: #d9b66b;
  letter-spacing: 1px;
  font-weight: 300;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h1,
h2,
p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-family: arial;
}

a:link,
a:active,
a:visited,
a:hover {
  color: #008dd2;
  text-decoration: none;
}

code {
  color: #d9b66b;
  letter-spacing: normal;
}

img:not(.badge) {
  width: 50%;
  border: 8px solid #FFFFFF;
  box-sizing: border-box;
}

badge-link {
  display: inline-block;
}

/* Box */
.box {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-top: 0.5rem;
  background-color: #cacaca;
  border: solid #cacaca 2px;
  border-radius: 7px;
}

.box pre {
  color: #000000;
  margin: 0.5rem;
  margin-top: 0;
  overflow: auto;
  letter-spacing: normal;
}

/* Header */
ul.header {
  list-style-type: none;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.header li {
  flex: 1 1 auto;
  border-right: 1px solid #383838;
  font-size: 22px;
}

ul.header li a {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;
  overflow-y: none;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0;
  height: 3em;
  line-height: 3em;
  font-family: sans-serif;
}

ul.header li a {
  background-color: #d9b66b;
  color: #383838;
}

ul.header li a.active {
  background-color: #efd395;
}

body ul.header li a:hover {
  background-color: #d09a27;
}

.hidden {
  display: none;
}

@media (max-width: 30rem) {
  img:not(.badge) {
    width: 100%;
  }
}
