### __FREQ__ Statistics for __THISHOST__

Period: 24 Hours
Generated: __TIME__
Time Zone: UTC
Y Axes: Linear near the origin, may turn logarithmic at the edges.

Local Clock

=> local-clock.png        Local Clock: Frequency + Offset
=> percentiles.png        Local Clock: Frequency Detail
=> percentiles-offset.png Local Clock: Offset Detail
=> offset-histogram.png   Local Clock: Offset Histogram
=> local-clock-skew.png   Local Clock: Skew
=> local-clock-stddev.png Local Clock: Standard Deviation

Remote Clocks Summary

=> all-diff-freq.png Remote Clocks: Frequency Difference
=> all-offset.png    Remote Clocks: Offsets
=> all-skew.png      Remote Clocks: Skew

Remote Clocks Details

__ALL_REMOTES__
