<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NTP/NTS __FREQ__ Statistics at __THISHOST__</title>
    <link rel="stylesheet" type="text/css" href="../zeitgitter.css" />
    <link rel="shortcut icon" href="../ntp-zeitgitter.svg" />
    <meta http-equiv="refresh" content="500" />
  </head>
  <body>
    <ul class="header">
      <li>
        <a href="../"><img src="../zg-white.svg" style="width:auto;" /> Home</a>
      </li>
      <li><a href="../day/">Daily Stats</a></li>
      <li><a href="./" class="active">Weekly Stats</a></li>
    </ul>
    <img src="../ntp-zeitgitter.svg" style="width:20%;float:right;margin:2em;" />
<h1>__THISHOST__ __FREQ__</h1>
<p>
<b>Report generated:</b> __TIME__<br />
<b>Report period:</b> 7 days<br />
<b>All times are in UTC</b>
</p>
<h2>Index</h2>
<ul>
<li><a href="#local">Local Clock</a></li>
<li><a href="#remote">Remote Clocks Summary</a></li>
<li><a href="#detail">Remote Clocks Details</a></li>
<li><a href="#vantage">Other Vantage Points</a></li>
</ul>

<h2><a name="local"></a>Local Clock</h2>
<a href="local-clock.svg"><img src="local-clock.svg" alt="Local Clock: Frequency + Offset" /></a
><a href="percentiles.svg"><img src="percentiles.svg" alt="Local Clock: Frequency detail" /></a
><a href="percentiles-offset.svg"><img src="percentiles-offset.svg" alt="Local Clock: Offset detail" /></a
><a href="offset-histogram.svg"><img src="offset-histogram.svg" alt="Local Clock: Offset histogram" /></a
><a href="local-clock-skew.svg"><img src="local-clock-skew.svg" alt="Local Clock: Skew" /></a
><a href="local-clock-stddev.svg"><img src="local-clock-stddev.svg" alt="Local Clock: stddev" /></a>

<h2><a name="remote"></a>Remote Clocks Summary</h2>
<a href="all-diff-freq.svg"><img src="all-diff-freq.svg" alt="Remote Clocks: Frequency Difference" /></a
><a href="all-offset.svg"><img src="all-offset.svg" alt="Remote Clocks: Offsets" /></a
><a href="all-skew.svg"><img src="all-skew.svg" alt="Remote Clocks: Skew" /></a>

<h2><a name="detail"></a>Remote Clocks Details</h2>
__ALL_REMOTES_WITH_LINK__

<h2><a name="vantage"></a>Other Vantage Points</h2>
<p>Any view just from a single point is incomplete. So, have a look at my neighbors and others watching me:</p>
<ul>
<li><a href="https://gpstime.trifence.ch/week/"><code>gpstime.trifence.ch</code></a>, the Stratum-1 GPS receiver and — whenever possible — source of truth (not a public <a href="https://netfuture.ch/2022/01/nts-network-time-security/">NTS</a>/NTP time server)</li>
<li><a href="https://ntp.trifence.ch/week/"><code>ntp.trifence.ch</code></a>, public NTS/NTP time server</li>
<li><a href="https://ntp.zeitgitter.net/week/"><code>ntp.zeitgitter.net</code></a>, public NTS/NTP time server</li>
<li><a href="https://monitoring.zeitgitter.net/week/"><code>monitoring.zeitgitter.net</code></a>, maintains an overview over all public NTS servers (and then some)</li>
<li><a href="https://tricorder.trifence.ch/week/"><code>tricorder.trifence.ch</code></a></li>
<li><a href="https://ntp.3eck.net/"><code>ntp.3eck.net</code></a>, public Stratum-1 NTS/NTP time server, operated by <a href="https://3eck.net/">Genossenschaft Dreieck<a/></li>
<li><a href="https://www.ntppool.org/a/trifence">View from the NTP Pool (production system, California)</a></li>
<li><a href="https://web.beta.grundclock.com/a/trifence">View from the NTP Pool (test system, California+Amsterdam)</a></li>
</ul>
<p>
<a href="https://github.com/MarcelWaldvogel/chrony-graph">Git repository for this version of chrony-graph</a>
</p>
</body>
</html>
